
src/main/resources/
src/test/
target/classes/
target/generated-sources/

*.iml
.idea
*.xml

million.songs.standard.database
million.songs.newscheme.database
million.songs.standard.database-journal
million.songs.newscheme.database-journal
target/
